

<h1><%= @alien.name %></h1>
<ul>
  <li>Appendages: <%= @alien.appendages %> </li>
  <li>Origin: <%= @alien.origin %> </li>
  <li>Organic Substrate: <%= @alien.organic_substrate %> </li>
  <li>Weakness: <%= @alien.weakness %> </li>
  <li>Strength: <%= @alien.weakness %> </li>
</ul>

<a href ="/spaceships">See all other Spaceships!</a>